
  {%- if item.product.type == "TRAPO HEX" and item.product.tags contains 'no-back'-%}
  <table style="width:100%">
    <tr>
      <td class="no-margin">Warranty: INCLUDED</td>
      <td align="left"></td>
    </tr>
    <tr>
      <td class="no-margin">Trapo Fix: INCLUDED</td>
      <td align="left"></td>
    </tr>
  </table>
  {% endif  %}
