<div class="container announcement-banner center" style="width: calc(100%)">

<a href="https://my.trapo.asia/pages/loyalty-program"><img class="lazyload header-announcement-banner" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/lALPGR5prxLMEt7MtM0HlA_1940_180.png?v=1685349058" alt="ExtraWarranty" width="100%"></a>
<a href="https://my.trapo.asia/pages/loyalty-program"><img class="lazyload header-announcement-banner-m" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/lALPGR5prxLMEt7MtM0HlA_1940_180.png?v=1685349058" alt="ExtraWarranty" width="100%"></a>


</div>

<style>
.announcement-banner{
  padding: 20px 0;
}
.header-announcement-banner {
      display: block;
    }
    .header-announcement-banner-m {
      display: none;
    }
@media(max-width: 768px){
  div.container{
      padding: 0px 0px;
  }
.header-announcement-banner {
    display: none;
  }
  .header-announcement-banner-m {
    display: block;
    margin-top: 2.5rem;
  }
}

@media(max-width: 500px){
.header-announcement-banner-m {
    display: block;
    margin-top: 0rem;
  }
}
</style>