<table class="collab-events">
  <thead>
    <tr>
      <th class="th-name">Name</th>
      <th class="th-date">Date</th>
      <th class="th-info">Info</th>
      <th class="th-url"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="event-title">MR.DIY Open Day</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">Carsome End Year Sale Bonanza Extravaganza Price DROP</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
   <tr>
      <td class="event-title">MR.DIY Open Day</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">Carsome End Year Sale Bonanza Extravaganza Price DROP</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">MR.DIY Open Day</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">Carsome End Year Sale Bonanza Extravaganza Price DROP</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">MR.DIY Open Day</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    <tr>
      <td class="event-title">Carsome End Year Sale Bonanza Extravaganza Price DROP</td>
      <td class="event-date">28 Sept - 3 Oct</td>
      <td class="event-details">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</td>
      <td class="event-url">
        <a href="#" class="view-more-btn">View More</a>
      </td>
    </tr>
    
  </tbody>
</table>

<style>
  .collab-events tbody {
      display: block;
      height: 230px;
      overflow-y: scroll;
  }
  .collab-events thead, .collab-events tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }
  .collab-events thead {
      width: 100%;
  }
  .collab-events th{
    font-family: 'effraregular';
    color: #16406D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-bottom: 30px;
  }
  .collab-events tr td{
    font-family: 'effraregular';
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px !important;
    text-align: left;
    padding-bottom: 25px;
  }
  .collab-events tr td.event-url{
   text-align:center;
  }
  th.th-name,td.event-title{
    width:28%;
  }
  th.th-date,td.event-date{
    width:18%;
  }
  th.th-info,td.event-details{
    width:40%;
  }
  
  .collab-events tr td.event-url a{
   background: #D82477;
    color: #fff;
    font-family: 'effraregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 25px;
    border-radius: 50px !important;
  }
  
</style>