<div class="collab-events-mobile">
  <div class="event-main">
    <h3 class="event-title-m">MR.DIY Open Day</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
  <div class="event-main">
    <h3 class="event-title-m">Carsome End Year Sale Bonanza Extravaganza Price DROP</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
  <div class="event-main">
    <h3 class="event-title-m">MR.DIY Open Day</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
  <div class="event-main">
    <h3 classss="event-title-m">Carsome End Year Sale Bonanza Extravaganza Price DROP</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
  <div class="event-main">
    <h3 class="event-title-m">MR.DIY Open Day</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
  <div class="event-main">
    <h3 classss="event-title-m">Carsome End Year Sale Bonanza Extravaganza Price DROP</h3>
    <p class="event-date-m">28 Sept - 3 Oct</p>
    <p class="event-info-m">Check out this limited time event that will take place at AEON Maluri, Cheras. Get Trapo HEX at 20% OFF*</p>
    <a href="" class="event-url-m">View More</a>
  </div>
</div>
<style>
  .collab-events-mobile{
    height: 325px;
    display: block;
    overflow-y: scroll;
    padding: 25px;
  }
  .event-main{
    margin-bottom:35px;
  }
  .collab-events-mobile .event-main h3.event-title-m{
    color: #000;
    font-family: 'effraregular' !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
   .container.content .event-main p.event-date-m{
     color: #000;
    font-family: 'effraregular' !important;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
   }
  .container.content .event-main p.event-info-m{
         color: #000;
    font-family: 'effraregular' !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
   }
  .event-main a.event-url-m{
    background: #D82477;
    padding: 15px 10px;
    border-radius: 25px;
    background-color: #d82477;
    box-shadow: #000000bf 5px 2px 11px -5px;
    color: #FFF;
    text-align: center;
    font-family: effraregular;
    font-size: 14.588px;
    font-style: normal;
    font-weight: 400;
    margin-top: 25px;
    line-height: normal;
    display: block;
    width: 125px;
    padding-top: 17px;
  }
</style>