<br>
<span style="font-size: 17px; font-weight: normal; margin-right: 3px; vertical-align: middle; ">
            <span style="font-size:inherit;">or 3 payments of 
              <span class="hoolah-price">{{ product.price | divided_by: 3 | money }}</span> with 
            </span>
          </span>
<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/hoolah.webp" width="50px" style="vertical-align: middle;">


<style>
  .hoolah-price{
  	color: rgb(238, 42, 123); 
    font-weight: bold; 
    font-size: inherit; 
  }
</style>