<div class="left-sec">
<ul class="map-items-wrapper">
  <li>
   <div class="map-item">
      <a class="map-heading" data-id="location-1">Mid Valley Hub</a>
      <div class="map-body">
         <div>
            <p>SK-12, 2nd Floor Mid Valley City, Lingkaran Syed Putra, Mid Valley City</p>
            <a href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-2">Trapo 1 Utama</a>
      <div class="map-body">
         <div>
            <p>1 Utama Shopping Centre, 1, Lebuh Bandar Utama, Bandar Utama, 47800 Petaling Jaya, Selangor, Malaysia</p>
            <a href="https://www.google.com/maps/place/Trapo+1+Utama/@3.147911,101.6137664,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc49671097e591:0xf513c3d1ace68fb3!8m2!3d3.147911!4d101.6159551!16s%2Fg%2F11tp9pm3gn?hl=en-RO" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-3">TRAPO Balakong</a>
      <div class="map-body">
         <div>
            <p>27-G Jalan Simfoni 1 Balakong, 43300 Seri Kembangan, Selangor, Malaysia</p>
            <a href="https://www.google.com/maps/dir//trapo+balakong/@3.0261575,101.6811952,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x31cdcbbc553478cd:0x6b3b20173218dc8d!2m2!1d101.7512358!2d3.0261598" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li> 
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-4">Trapo Bangsar Hub</a>
      <div class="map-body">
         <div>
            <p>75, Jalan Maarof, Bangsar, 59000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
            <a href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-5">Trapo Cheras Maluri Hub</a>
      <div class="map-body">
         <div>
            <p>15, Jalan Jejaka 3, Maluri, 55100 Cheras, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
            <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.72985" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-6">Trapo Desa Park City Hub</a>
      <div class="map-body">
         <div>
            <p>5, Persiaran Residen, Desa Parkcity, 52200 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
            <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+The+Waterfront+Hub+@+Desa+ParkCity/@3.1878394,101.6297491,15z/data=!4m5!3m4!1s0x0:0x23ddf4a554e99cff!8m2!3d3.1873091!4d101.6272332" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" style="display: block;">
      <a class="map-heading" data-id="location-7">Trapo Glenmarie Hub</a>
      <div class="map-body">
         <div>
            <p>17-G, Jalan Penguasa A U1/53A, TEMASYA GLENMARIE, 40150 Shah Alam, Selangor, Malaysia</p>
           <a href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" >
      <a class="map-heading" data-id="location-8">Trapo Kuching, Sarawak</a>
      <div class="map-body">
         <div>
            <p>No. 89, Lot 7615, Jalan Wan Alwi, Taman Wan Alwi, 93250 Kuching, Sarawak, Malaysia</p>
           <a href="https://goo.gl/maps/dGoSZK8tQ6SkZyez8" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" >
      <a class="map-heading" data-id="location-9">Trapo Melaka Raya Hub</a>
      <div class="map-body">
         <div>
            <p>177, Jln Merdeka, Taman Melaka Raya, 75000 Melaka, Malaysia</p>
           <a href="https://www.google.com/maps/place/TRAPO+Car+Mats+Melaka+Raya+Hub/@2.1884185,102.2525614,17z/data=!3m1!4b1!4m5!3m4!1s0x31d1ee1e06dbaf4f:0x3a672560b928eef7!8m2!3d2.1884131!4d102.2547501" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
  <li>
   <div class="map-item" >
      <a class="map-heading" data-id="location-10">Trapo Pulau Tikus Penang</a>
      <div class="map-body">
         <div>
            <p>2, Persiaran Midlands, Pulau Tikus, 10250 George Town, Pulau Pinang, Malaysia</p>
           <a href="https://goo.gl/maps/WbMyBWAxoGyBSFEbA" target="_blank" class="action_button direction">Direction</a>
         </div>
      </div>
   </div>
  </li>
</ul>
</div>
<div class="right-sec">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mid_valley.jpg" class="locimg lazyload active" id="loc-img-1">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_utama.jpg" class="locimg lazyload" id="loc-img-2">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/balakong.jpg" class="locimg lazyload" id="loc-img-3">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bangsar_de2e71c8-fa6e-49b2-96f0-0862d9fb11f8.jpg" class="locimg lazyload" id="loc-img-4">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cheras.jpg" class="locimg lazyload" id="loc-img-5">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desa_park.jpg" class="locimg lazyload" id="loc-img-6">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/glenmarie.jpg" class="locimg lazyload" id="loc-img-7">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/kuching_dc5d96ae-a15e-47f9-a712-dff2cdff6af5.jpg" class="locimg lazyload" id="loc-img-8">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/melaka_raya.jpg" class="locimg lazyload" id="loc-img-9">
  <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/penang.jpg" class="locimg lazyload" id="loc-img-10">
</div>


<style>
  .left-sec{
    width: 40%;
    float: left;
    padding-right: 15px;
  }

  .right-sec{
    width: 60%;
    float: left;
  }

  ul.map-items-wrapper{
    height: 500px;
    overflow-y: scroll;
    list-style: none;
    padding-left:0;
    margin:0;
  }

  ul.map-items-wrapper li{
    padding: 8px 16px;
    border: 1px solid #dfe0e0;
    border-radius: 3px;
  }

  .map-item a.map-heading{
    font-family: effra_regular-webfont !important;
    font-weight: 600 !important;
    font-size: 18px;
    line-height:20px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
  }
  .map-item a.map-heading:hover{
    text-decoration:underline;
  }
  .map-item .map-body div p{
    text-align: justify;
    margin: 0 0 5px;
    font-style: normal;
    font-family: effra_regular-webfont !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .right-sec img{
    width:100%;
    display:none
  }
  .right-sec img.active{
    display:block;
  }
  .map-item .map-body div a.action_button.direction{
    color: #fff;
    border-radius: 30px;
    height: 35px !important;
    min-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--pf-4th-font)!important;
    font-size: 14px;
    line-height: normal;
    padding-top: 5px;
    text-align: center;
  }

  @media (max-width: 767px){
    .left-sec{
    width: 100%;
    padding-right: 0px;
  }

  .right-sec{
    width: 100%;
  }
  }
</style>
<script>
  $(".map-items-wrapper li a").click(function() {
    var locId = $(this).data("id");
    $(".locimg").removeClass('active');
    if(locId == 'location-1'){
      $("#loc-img-1").addClass('active');
    }
    if(locId == 'location-2'){
      $("#loc-img-2").addClass('active');
    }
    if(locId == 'location-3'){
      $("#loc-img-3").addClass('active');
    }
    if(locId == 'location-4'){
      $("#loc-img-4").addClass('active');
    }
    if(locId == 'location-5'){
      $("#loc-img-5").addClass('active');
    }
    if(locId == 'location-6'){
      $("#loc-img-6").addClass('active');
    }
    if(locId == 'location-7'){
      $("#loc-img-7").addClass('active');
    }
    if(locId == 'location-8'){
      $("#loc-img-8").addClass('active');
    }
    if(locId == 'location-9'){
      $("#loc-img-9").addClass('active');
    }
    if(locId == 'location-10'){
      $("#loc-img-10").addClass('active');
    }
  });
</script>

