<div class="grid">
  <div class="grid__item one-half">
<div class="wrapper">
<div class="youtube" data-embed="QMxhqHohJr0">
<div class="play-button"></div>
<img src="https://img.youtube.com/vi/QMxhqHohJr0/sddefault.jpg"></div>
</div>
</div>
  <div class="grid__item one-half">
<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/nano-pro-3.jpg?v=1642664349">
</div>
</div>