<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content text-left px-3">
      <h1>Affiliate Program</h1>

       <div class="row my-2 justify-content-center">
              <div class="col-12">
                     <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-1.jpg?v=1646219154" width="" height="" style="" alt="" class="d-none d-lg-block img-fluid">
              </div>
              <div class="col-12" style="max-width: 600px;" >
                    <span style="font-size: 20px; letter-spacing: normal;"><span style="font-family: Roboto; font-weight: 500;">Thank you for your interest in being our affiliate. You are just a few steps away </span><span style="font-family: Roboto; font-weight: 500;">from getting started. Start promoting Trapo products and earn with every order.</span></span>
              </div>
              <div class="col-12 text-center ">
                     <h4 class="mt-1"><span>3 SIMPLE STEPS TO JOIN</span></h4>

                          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-2.jpg?v=1646219154" class="img-fluid d-none d-lg-block" style="margin: auto;">
						  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-2.jpg?v=1646219154" class="img-fluid d-lg-none" style="margin: auto;">

              </div>

              <div class="col-12 row text-center">
                     <div class="col-md-6">
                            <a href="http://app.involve.asia/referral/lnvhdzeo"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-3.jpg?v=1646219154" alt="" style="width:250px;height:60px;" class="img-fluid d-none d-lg-block">
                              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-3.jpg?v=1646219154" class="img-fluid d-lg-none"></a>
                     </div>
                     <div class="col-md-6">
                            <a href="https://dashboard.commissionfactory.com/Affiliate/Register/71146/"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-4.jpg?v=1646219154" alt="" style="width:250px;height:60px;" class="img-fluid d-none d-lg-block">
                              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-4.jpg?v=1646219154" class="img-fluid d-lg-none"></a>
                     </div>                     
              </div>
              <div class="col-12 text-center">
                     <h4 class="mt-1"><span>PROGRAM HIGHLIGHT</span></h4>

                     <img width="" height="" style="" alt="" class="d-none d-lg-block img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-6.jpg?v=1646219154">
					 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-6.jpg?v=1646219154" class="img-fluid d-lg-none">
              </div>
              <div class="col-12 text-center">
                     <h4 class="mt-4 text-center"><span>Why Trapo Malaysia</span></h4>

                     <p style="text-align: justify; line-height: 22px; max-width: 700px; margin: 0 auto;">
                            <span style="font-size: 24px;"><span style="font-weight: 400;">TRAPO is an automotive accessories brand and we have been listed as the </span><strong>No.1 online best selling car mat in Malaysia </strong><span style="font-weight: 400;">since 2016. We provide a full tailor fit car mat solution for each customer's car model integrated with our manufacturing 4.0 model to provide Online to Offline(O2O) experience.</span></span>
                     </p>
                     <p style="text-align: justify; line-height: 22px; max-width: 700px; margin: 0 auto; padding: 20px 0;">
                            <span style="font-size: 24px;"><span style="font-weight: 400;">Currently, we offer car mats for more than</span><strong> 800 car models</strong><span style="font-weight: 400;">, which includes brands like Honda, Toyota, Perodua, Proton, BMW, Mercedes, Volkswagen and many other famous brands in ASEAN countries and our </span><strong>customer satisfaction rate is 4.9</strong><span style="font-weight: 400;"> and above. </span></span>
                     </p>
                     <p style="text-align: justify; line-height: 22px; max-width: 700px; margin: 0 auto;">
                            <span style="font-weight: 400; font-size: 24px;">We are also the No 1 Lazada and Shopee on Automotive sector for the past 2 years.</span>
                     </p>

              </div>
              <div class="col-12 row text-center my-4">
                     <div class="col-md-6">
                            <a href="http://app.involve.asia/referral/lnvhdzeo"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-3.jpg?v=1646219154" alt="" style="width:250px;height:60px;" class="img-fluid d-none d-lg-block">
                              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-3.jpg?v=1646219154" class="img-fluid d-lg-none"></a>
                     </div>
                     <div class="col-md-6">
                            <a href="https://dashboard.commissionfactory.com/Affiliate/Register/71146/"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-d-4.jpg?v=1646219154" alt="" style="width:250px;height:60px;" class="img-fluid d-none d-lg-block">
                              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/af-m-4.jpg?v=1646219154" class="img-fluid d-lg-none"></a>
                     </div>
                     
              </div>
              
       </div>
                           
  </div>
<style>
  .container.page-content{
        max-width: 900px;
      }
  .col-md-6{
  	display: flex;
    justify-content: center;
  }
  h4{
        font-family: Roboto;
    font-size: 30px;
    margin-top:20px;
  }
</style>