<section class="collection-transform">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="trapo-hex">
          <div class="transbox">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Hex-2-White-logo.png" alt="Trapo Hex 2">
            <p class="txt-col">Trapo Hex II is engineered for those who appreciate the finer things in life. 
              Up to 10X more durable and with our patented Fix anti-slip technology. 
              Bring your driving pleasure to new heights with the All-New Trapo HEX II.
            </p>
            <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+HEX" class="btn-browse">Browse</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="trapo-classic">
          <div class="transbox">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Classic-Mark-2-White-logo.png" alt="Trapo Classic Mark 2">
            <p class="txt-col">Malaysia's most popular car mat just go a whole lot better. 
              Introducing the All-New Trapo Classic Mark III, antibacterial up to 99.9% and more durable than ever.
            </p>
            <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+CLASSIC" class="btn-browse">Browse</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="trapo-eco">
          <div class="transbox">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Eco-2-White-Logo.png" alt="Trapo Eco 2">
            <p class="txt-col">Sustainability has always been at the core of our car mat. Utilising up to 
              60% recycled foam polymer. Trapo ECO II is our greenest car mat yet, ensuring great 
              driving pleasure for our generation and the next.
            </p>
            <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+ECO" class="btn-browse">Browse</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="trapo-browse-by-brands">
          <div class="head meg-h1">Browse by brands</div>
          <div class="wrapper">
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/perodua-1.png">
              <a href="/search?sort=best-selling&collection_scope=134875840589&q=perodua" class="btn-brand">Perodua</a>
            </div>
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/proton-1.png">
              <a href="/search?sort=best-selling&collection_scope=134875840589&q=proton" class="btn-brand">Proton</a>
            </div>
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bmw-1.png">
              <a href="/search?sort=best-selling&collection_scope=151292215332&q=bmw" class="btn-brand">BMW</a>
            </div>
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/volkswagen-1.png">
              <a href="/search?sort=best-selling&collection_scope=151292215332&q=volkswagen" class="btn-brand">Volkswagen</a>
            </div>
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/honda-1.png">
              <a href="/search?sort=best-selling&collection_scope=134875840589&q=honda" class="btn-brand">Honda</a>
            </div>
            <div class="nested">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/toyota-1.png">
              <a href="/search?sort=best-selling&collection_scope=134875840589&q=toyota" class="btn-brand">Toyota</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collection-transform-m">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="trapo-hex-m">
          <img data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-hex-homepage.webp" class="size-m lazyload">
          <div class="text-on-top">
            <div class="col-30">
              <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Hex-2-White-logo.png">
              <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+HEX" class="btn-browse">Find out more</a>
            </div>
            <div class="col-70 txt-col">
              Trapo Hex II is engineered for those who appreciate the finer things in life. 
              Up to 10X more durable and with our patented Fix anti-slip technology. 
              Bring your driving pleasure to new heights with the All-New Trapo HEX II.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="trapo-classic-m">
        <img data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-classic-homepage.webp" class="size-m lazyload">
        <div class="text-on-top">
          <div class="col-30">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Classic-Mark-2-White-logo.png">
            <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+CLASSIC" class="btn-browse">Find out more</a>
          </div>
          <div class="col-70 txt-col">
            Malaysia's most popular car mat just go a whole lot better. 
            Introducing the All-New Trapo Classic Mark III, antibacterial up to 99.9% and more durable than ever.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="trapo-eco-m">
        <img data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-eco-homepage.webp" class="size-m lazyload">
        <div class="text-on-top">
          <div class="col-30">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo-Eco-2-White-Logo.png">
            <a href="/collections/all-car-mats?pf_pt_product_type=TRAPO+ECO" class="btn-browse">Find out more</a>
          </div>
          <div class="col-70 txt-col">
            Sustainability has always been at the core of our car mat. Utilising up to 60% recycled foam polymer. 
            Trapo ECO II is our greenest car mat yet, ensuring great driving pleasure for our generation and the next.
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="browse-by-brands-m">
        <div class="head meg-h1">Browse by brands</div>
        <div class="wrapper">
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/perodua-1.png">
            <a href="/search?sort=best-selling&collection_scope=134875840589&q=perodua" class="btn-brand">Perodua</a>
          </div>
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/proton-1.png">
            <a href="/search?sort=best-selling&collection_scope=134875840589&q=proton" class="btn-brand">Proton</a>
          </div>
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bmw-1.png">
            <a href="/search?sort=best-selling&collection_scope=151292215332&q=bmw" class="btn-brand">BMW</a>
          </div>
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/volkswagen-1.png">
            <a href="/search?sort=best-selling&collection_scope=151292215332&q=volkswagen" class="btn-brand">Volkswagen</a>
          </div>
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/honda-1.png">
            <a href="/search?sort=best-selling&collection_scope=134875840589&q=honda" class="btn-brand">Honda</a>
          </div>
          <div class="nested">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/toyota-1.png">
            <a href="/search?sort=best-selling&collection_scope=134875840589&q=toyota" class="btn-brand">Toyota</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<style>  
  .featured-collection__products.container{
  	padding: 10px 10px;
  }
  .container-fluid .btn-browse {
      padding: 3px;
      border-radius: 50px;
      margin: 10px 0;
      color: #fff !important;
      border: none;
      text-transform: uppercase;
      font-family: 'Effra Light';
      width: 120px;
      background-color: #E12B7B;
      font-weight: 600;
    }
  .collection-transform .container-fluid, .row .col-lg-6 {
    padding: 0 0;    
  }
  .collection-transform .container-fluid .trapo-hex,
  .trapo-classic,
  .trapo-eco,
  .trapo-browse-by-brands {
    width: 100%;
    height: 700px;
  }
  .collection-transform .container-fluid .trapo-hex {
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-hex-homepage.webp');
    background-size: cover;
  }

  .collection-transform .container-fluid .trapo-classic {
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-classic-homepage.webp');
    background-size: cover;
  }

  .collection-transform .container-fluid .trapo-eco {
    background-image: url('https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-eco-homepage.webp');
    background-size: cover;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands {
    height: 700px;
    width: 100%;
  }

  .collection-transform .container-fluid .trapo-hex .transbox,
  .trapo-classic .transbox,
  .trapo-eco .transbox {
    display: none;
  }

  .collection-transform .container-fluid .trapo-hex:hover>.transbox,
  .trapo-classic:hover>.transbox,
  .trapo-eco:hover > .transbox {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #fff;
    background-color: rgba(22, 64, 109, 0.75);
    height: 100%;
  }
  .collection-transform .container-fluid .transbox img{
  	width: 200px;
  }
  .collection-transform .container-fluid .transbox .txt-col {
    font-size: 1.2rem;
    padding: 0 6rem;
    text-align: center;
    line-height: 1.3;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    justify-items: center;
    padding: 0 5em;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands .wrapper > .nested {
    display: grid;
    text-align: center;
    justify-items: center;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands .wrapper .nested img {
    width: 200px;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands .wrapper .nested a.btn-brand {
    padding: 10px;
    border-radius: 50px;
    color: #ffffff !important;
    border: none;
    text-transform: uppercase;
    font-family: 'Effra Light';
    width: 150px;
    display: grid;
    align-content: center;
    font-weight: 600;
    background-color: #E12B7B;
  }

  .collection-transform .container-fluid .trapo-browse-by-brands .head {
    font-family: 'Effra Light' !important;
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
    padding: 1em;
  }

  .collection-transform-m {
    display: none;
  }
  

  @media only screen and (max-width: 600px) {
    .collection-transform {
      display: none;
    }
    .container-fluid .btn-browse{
    	width: 100% !important; 
    }
    .collection-transform-m .container-fluid, .row .col-12 {
      padding: 0 0;
      margin: 0 0;
    }
    .collection-transform-m {
      display: block;
    }

    .collection-transform-m .size-m {
      width: 100%;
      height: auto;
    }

    .collection-transform-m .text-on-top {
      display: flex;
      position: relative;
      margin-top: -6px;
      margin-bottom: 20px;
      padding: 1em;
      color: #fff;
      background-color: rgba(22, 64, 109, 1);
    }

    .collection-transform-m .col-30 {
      width: 30%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    .collection-transform-m .col-30 img {
      width: 100%;
    }

    .collection-transform-m .col-70 {
      width: 70%;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    .collection-transform-m .container-fluid .txt-col {
      font-size: 1em;
      padding: 0 1em;
      font-family: 'Effra Light';
    }

    .collection-transform-m .container-fluid .browse-by-brands-m .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.5em;
      justify-items: center;
      padding: 1em;
    }

    .collection-transform-m .container-fluid .browse-by-brands-m .wrapper > .nested {
      display: grid;
      text-align: center;
      justify-items: center;
    }

    .collection-transform-m .container-fluid .browse-by-brands-m .wrapper .nested img {
      width: 100%;
    }

    .collection-transform-m .container-fluid .browse-by-brands-m .wrapper .nested a.btn-brand {
      padding: 5px;
      border-radius: 50px;
      color: #ffffff !important;
      border: none;
      text-transform: uppercase;
      font-family: 'Effra Light';
      width: 120px;
      display: grid;
      align-content: center;
      background-color: #E12B7B;
    }

    .collection-transform-m .container-fluid .browse-by-brands-m .head {
      font-family: 'Effra Light' !important;
      color: #000000;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
    }
  }
</style>

{% javascript %}
{% endjavascript %}

{% schema %}
{
"name": "Car Mat Collection",
"settings": [],
"presets": [
{
"name": "Car Mat Collection",
"category": "Additional Sections"
}
]
}
{% endschema %}
