<a name="pagecontent" id="pagecontent"></a>
<div class="container page-content text-left px-3"> 
  <h1>Careers</h1>

  <div>
    <p>Are you a talent or fresh graduate in these fields?</p>
    <p>Come join us and be part of our young and creative teams today!</p>
    <p>We are looking to hire someone who falls under the generation Y or Millennials who are passionate, agile, driven with passion and can come up with a lot of crazy ideas. If this sounds like you, come join Trapo Marketing today!</p>

  </div>

  <h3>Life at TRAPO</h3>

  <div>
    <h5>Clear career roadmap, Direction, and Goal: </h5>
    <p class="">Set goals together and hold each other accountable to achieve them.</p>
    <h5> Birthday Perk: </h5>
    <p class="">    Clock out 2 hours earlier on your birthday! </p>
    <h5> Medical Benefits: </h5>
    <p class="">   Enjoy insurance, optical, dental and outpatient medical claims as a confirmed employee.</p>
    <h5> Strategic Office Location: </h5>
    <p class="">    Easily access public transport and endless options for lunch via the shopping malls nearby.</p>
    <h5> Get a FREE Gift : </h5>
    <p class="">   Upon confirmation, you'll get to enjoy 1 set of premium Trapo HEX Combo worth MYR 500 car mats as a token of appreciation from us.</p>

  </div>
  
    <p>

      Please feel free to contact our HR Team (only text) <a href="https://wa.me/60126388267"><strong class="text-muted">https://wa.me/60126388267</strong></a> or send your CV to <br>
      <strong>erfa.my@trapo.com today!</strong>
    </p>

    <p>
      If opportunity doesn't knock, build a door! We look forward to speaking to you soon!
    </p>
  <br>  
  <div class="row g-4">
    <div class=" col-lg-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c5.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
    </div>
    <div class=" col-lg-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c6.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
    </div>
    <div class=" col-lg-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c3.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
    </div>
    <div class=" col-lg-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c4.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
    </div>
    <br>
    

    <div class="col-lg-8 col-12">  
      <div style="margin:0 auto;" class="pxFormGenerator" id="1ivSqISzJDwpmkRctGk7uw"></div>
    </div>


    <!--         <div class=" col-lg-6">
<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c5.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
</div>
<div class=" col-lg-6">
<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/c6.jpg?v=1646212163" width="" height="" style="" alt="" class="img-fluid">
</div> -->
  </div>
</div>
<style>
  .container.page-content{
    max-width: 900px;
  }

</style>