<a name="pagecontent" id="pagecontent"></a>
<div class="container text-center page-content px-3">
      <h1>Sustainable Practices</h1>

      <div class="text-center ">
          <p>
              <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">We believe on the strong emphasis of sustainable business practises, responsible consumption</span><br>
              <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">and production methods. This is why Trapo products utilise recycled materials wherever possible </span><br>
              <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">in the manufacturing process to ensure the lowest carbon footprint possible without compromising on quality.</span>
          </p>   
      </div>

      <div class="box">
             <h3>The Reality of Manufacturing Wastage</h3>
      
             <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-1.jpg?v=1646221469" width="" height="" style="" alt="" class="img-fluid">
      </div>

      <div class="box">
             <h3>The Recycling Process</h3>

             <p>
                     <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">Waste polymer goes through an extensive process of recycling to produce Trapo mats.</span>
             </p>

             <img height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-2.jpg?v=1646221469">
			 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-m-2.jpg?v=1646219154" class="img-fluid d-lg-none">
      </div>

      <div class="box">
             <div class="video">
                    <div class="wrapper">
                    <div class="youtube" data-embed="YIRReAvrE3U">
                    <div class="play-button"></div>
                    </div>
                    </div>
                    </div>
      </div>

      <div class="box">
             <h3>The Anatomy of a Trapo Car Mat</h3>

             <p>
                    <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">Trapo mats are made up or between 20 - 68% of recycled materials</span>
             </p>

             <img width="" height="" style="" alt="" class="img-fluid d-none d-lg-block" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/CSR_desktop.webp">
			 <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/CSR_mobile.webp" class="img-fluid d-lg-none">
      </div>

      <div class="box">
             <h3>Trapo Car Mat Lifecycle</h3>

             <p>
                     <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">And once these mats have served the owner well for the duration of ownership,<br>they can be returned to us to be recycled, allowing the materials used to continousely<br>provide joy and hyginene to the next owner.</span>
              </p>

              <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-4.jpg?v=1646221469">
      </div>

      <div class="box">
             <h3>Going a Step Further</h3>

             <p>
                    <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">On top of EVA recycling efforts, Trapo has also implemented other efforts</span>
             </p>

             <div class="row">
                    <div class="col-sm-6 col-12">
                           <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-5.jpg?v=1646221470">
                    </div>
                    <div class="col-sm-6 col-12">
                           <img width="" height="" style="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-6-new.png?v=1646222935">
                    </div>
             </div>
      </div>

      <div class="box">
             <h3>Towards Becoming Even More Sustainable</h3>

             <p>     
                    <span style="color: #173f6d; font-family: Roboto; font-size: 16px;">As a company, we are aligned with the United Nation’s <br>Sustainable Development Goal No.12 and thus, champion green <br>and sustainable business practices in all aspects of our business.</span>
              </p>

              <img width="" height="" alt="" class="img-fluid" src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/csr-d-7.jpg?v=1646221469">
      </div>
       
              
               
  </div>
<style>
  .container.page-content{
        max-width: 1000px;
      }
</style>