<section>
  <div class="container">
    <div class="text-center">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/join-us-now.webp" alt="Join Us Now" class="img-size lazyload">
    </div>
  </div>

<!-- Join-->
<div class="mb-4 join">
  <div class="container">    
    <p class="col-md-12 text-center join-txt">Join <b>Trapo Loyalty Program </b>and get rewarded while you shop. 
      You'll get <b>2500 points</b> for signing up.<br>
      What are you waiting for?</p>
    <div class="text-center">
      <a href="/account/register" class="lion-action-button lion-action-button--primary lp-button join-loyalty">Join Now</a>
      <a href="/account/login" class="lion-action-button lion-action-button--neutral lp-button login-loyalty">Log in</a>
    </div> 
  </div>
</div>
<!-- Join Ends-->
  
<!-- How it Work -->
  
  <div class="container">
    <div class="text-center">
      <br><br>
      <h1 class="display-5 fw-bold head">HOW IT WORK</h1>
      
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 col-6">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Step-1.webp" alt="How it work? Step 1" class="img-size lazyload">
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-6">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Step-2.webp" alt="How it work? Step 2" class="img-size lazyload">
        </div>    
        <div class="col-md-6 col-lg-3 col-sm-6 col-6">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Step-3.webp" alt="How it work? Step 3" class="img-size lazyload">
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-6">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Step-4.webp" alt="How it work? Step 4" class="img-size lazyload">
        </div>
      </div>
    </div>
  </div>
<!-- How it Work End -->
  
<!-- Earn Points -->

<div class="container">
    <div class="text-center">
      <br><br>
      <h1 class="display-5 fw-bold head">EARN POINTS</h1>
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Assets-MainPage-7-MakePurchase.png?v=1664245006" alt="Earn Points" class="img-size lazyload">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Assets-MainPage-8-Referral.png?v=1664245005" alt="Earn Points" class="img-size lazyload">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Earn-3.webp" alt="Earn Points" class="img-size lazyload">
    </div>
</div>

<div class="container">
  <div class="row earn-points">
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/p1-birthday-points.webp" alt="birthday-points" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/p2-follow-us-on-instagram-points.webp" alt="follow-us-on-instagram-points" class="img-size lazyload">
    </div>    
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/p3-like-us-on-facebook-points.webp" alt="like-us-on-facebook-points" class="img-size lazyload">
    </div>
  </div>
  <div class="row earn-points">
    <div class="col-md-2 col-2">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/p4-review-on-facebook-points.webp" alt="review-on-facebook-points" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/p5-signup-mail-list-points.webp" alt="signup-mail-list-points" class="img-size lazyload">
    </div>    
    <div class="col-md-2 col-2">
    </div>
  </div>
</div>

<!-- Earn Points Ends -->
  
<!-- Rewards -->
<div class="container">
  <div class="text-center mt-5">
    <h1 class="display-5 fw-bold head">REWARDS</h1>
  </div>
  <div class="row rewards">
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1-oxtra-antivirus-panel-filter.webp" alt="oxtra-antivirus-panel-filter" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
       <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/2-oxtra-rainguard-repellent.webp" alt="oxtra-rainguard-repellent" class="img-size lazyload">
    </div>    
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/3-oxtra-diatomite-car-coaster.webp" alt="oxtra-diatomite-car-coaster" class="img-size lazyload">
    </div>
  </div>
  <div class="row rewards">
    <div class="col-md-4 col-4">
       <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/4-premium-detailing-microfibre.webp" alt="premium-detailing-microfibre" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/5-oxtra-plastiguard-car-coating.webp" alt="oxtra-plastiguard-car-coating" class="img-size lazyload">
    </div>    
    <div class="col-md-4 col-4">
       <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/6-oxtra-shineguard-car-coating.webp" alt="oxtra-shineguard-car-coating" class="img-size lazyload">
    </div>
  </div>
  <div class="row rewards">
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/7-oxtra-antibac-car-spray.webp" alt="oxtra-antibac-car-spray" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/8-hepa-filter-type-c-jack.webp" alt="hepa-filter-type-c-jack" class="img-size lazyload">
    </div>    
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/9-hepa-filter-3.5mm-jack.webp" alt="hepa-filter-3.5mm-jack" class="img-size lazyload">
    </div>
  </div>
  <div class="row rewards">
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/10-oxtra-premium-car-phone-holder-v3.webp" alt="oxtra-premium-car-phone-holder-v3" class="img-size lazyload">
    </div>
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/11-oxtra-magnetic-holder.webp" alt="oxtra-magnetic-holder" class="img-size lazyload">
    </div>    
    <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/12-oxtra-antivirus-3in1-filter.webp" alt="oxtra-antivirus-3in1-filter" class="img-size lazyload">
    </div>
  </div>
  <div class="row rewards">
    <div class="col-md-4 col-4">
      
    </div>
<!--     <div class="col-md-4 col-4">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/13-oxtra-corded-vacum-v2.webp" alt="oxtra-corded-vacum-v2" class="img-size lazyload">
    </div>     -->
    <div class="col-md-4 col-4">
      
    </div>
  </div>
</div>
<!-- Rewards Ends -->

<!-- Tier Table -->
<div class="container">
  <div class="text-center mt-5">
    <h1 class="display-5 fw-bold head">MORE REWARD WITH EACH TIER</h1>
  </div>
  <div class="row tier">
    <div class="col-md-12 col-12">
      <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/reward-tier.webp" alt="reward-tier" class="img-size lazyload">
    </div>
  </div>
</div>
<!-- Tier Table Ends -->
  
</section>

{% schema %}
{
"name": "Loyalty Program",
"settings": [],
"presets": [
{
"name": "Loyalty Program",
"category": "Additional Sections"
}
]
}
{% endschema %}

{% stylesheet %}
.img-size{
  width: 100% !important;
}
.join-txt{
  font-size: 18px;
  color: #17426f;
  padding: 10px 0px;
}
a.lp-button{
  background-color: rgba(238, 42, 123, 1);
  color: white !important;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-family: Roboto;
}
.mb{
  margin: 5% 0;
}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
