<!-- Sustainable Practices -->
<div class="container">      
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 main-txt text-center">
        <h1 class="display-5 fw-bold head">Sustainable Practices</h1>
        <p class="col-md-12 content-p">
          We believe on the strong emphasis of sustainable business practises, responsible consumption
and production methods. This is why Trapo products utilise recycled materials wherever possible
in the manufacturing process to ensure the lowest carbon footprint possible without compromising on quality.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Sustainable Practices End -->

<!-- Founders Story -->
<div class="container">      
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 founders-txt">
        <h1 class="display-5 fw-bold head">Founders Story</h1>
        <p class="col-md-12">The Lee brothers, Tzong & Zare Lee. TRAPO was created with the intention of elevating the driving experience by providing a hygienic, comfortable and safe drive. With that in mind, they have created the antibacterial car mats which are now the signature product. Realising that health, hygiene and safety factors are not just limited to vehicles, the Lee brothers also come out with the OXTRA range of car accessory products, of which their utility extends beyond the car due to portability and practicality. <br><br>
          Being business minded throughout their upbringing, these brothers have been doing their research of not only customers’ wants and needs but also the trends of e-commerce. From their research they realised that there are not many products that focus on the health, hygiene and safety aspects of drivers and created solutions which are beneficial for the masses.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 founders-img">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/founders-1.jpg?v=1642515305" width="100%">
      </div>
    </div>
  </div>
</div>
<!-- Founders Story Ends-->
<!-- Quote -->
<div class="container-fluid">
  <div class="bg-blue2 text-center">
    <h4 class="py-5 bg-blue2">“Always understand your customer before creating a product.” <br/>- Tzong & Zare</h4>
  </div>
</div>
<!-- Quote Ends-->
<!-- Leadership Team -->
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Leadership Team</h1>
  </div>
</div>
<div class="album py-1 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 leadership-p">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tzong.jpg?v=1642515305">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
              	<p class="card-text"><b>Tzong Lee</b><br>Co-CEO / Co-Founder</p>
              </div>
              <div class="col-6 text-right">
                <a href="https://www.linkedin.com/in/tzong-lee-9b8876ab/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/zare.jpg?v=1642515305">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
              	<p class="card-text"><b>Zare Lee</b><br>Co-CEO / Co-Founder</p>
              </div>
              <div class="col-6 text-right">
                <a href="https://www.linkedin.com/in/tzong-ee-zare-lee-4ab59a55/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ionut.jpg?v=1642515304">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:60%">
              	<p class="card-text"><b>Ionut Danifield</b><br>Chief Marketing Officer</p>
              </div>
              <div class="col-6 text-right" style="width:40%">
                <a href="https://www.linkedin.com/in/ionutdanifeld/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/sarah.jpg?v=1642515304">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:60%">
              	<p class="card-text"><b>Sarah</b><br>Commercial Sales Lead</p>
              </div>
              <div class="col-6 text-right" style="width:40%">
                <a href="https://www.linkedin.com/in/sarah-yusof-2b419b11b/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/stan.jpg?v=1642515304">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
              	<p class="card-text"><b>Stan Tan</b><br>Online Sales Lead</p>
              </div>
              <div class="col-6 text-right">
                <a href="https://www.linkedin.com/in/sin-yie-tan-375376195/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/wei-cheit.jpg?v=1642515304">
          <div class="card-body">
            <div class="row">
              <div class="col-6" style="width:60%">
              	<p class="card-text"><b>Wei Cheit</b><br>People & Culture Manager</p>
              </div>
              <div class="col-6 text-right" style="width:40%">
                <a href="https://www.linkedin.com/in/wei-cheit-lim-shrm-cp-496ab8b3/">
                	<img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/linkedin.jpg" class="linkedin-img">
                </a>
              </div>
            </div>               
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Leadership Team Ends-->
<!-- Time Line -->
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">The Journey</h1>
  </div>
</div>
<div class="container">
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Established in Malaysia</h5>
        <p class="description">
          In 2016, TRAPO was launched in Malaysia.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">1 Years</span> -->
            <span class="year">2017</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Launched our first hub</h5>
        <p class="description">
          In 2017, TRAPO launched its first hub in Melaka Raya. 
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2018</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">TRAPO Indonesia</h5>
        <p class="description">
          Introduced TRAPO to Indonesia<br>In 2018, TRAPO expanded its first branch in Indonesia.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Introduction of Oxtra car accessories and Shopee store expansion</h5>
        <p class="description">
          In 2019, Oxtra car accessories were launched in Malaysia with a purpose of elevating users'<br/> 
          driving experience. Meanwhile, we’ve also launched our first online store at Shopee Malaysia. 
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2020</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Offline hubs expansion | Singapore expansion</h5>
        <p class="description">
          In 2020, we’ve expanded our offline hubs at Klang Valley areas such as Cheras Maluri, Glenmarie, <br>
          Desa Park City and Mid Valley. Meanwhile, TRAPO is introduced to Singapore and <br/>owns its first offline store at Zervex, Singapore.
        </p>
      </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <!-- <span class="month">2 Years</span> -->
            <span class="year">2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">New generation of TRAPO car mats</h5>
        <p class="description">
          TRAPO understands what modern customers' need in a product that is constantly evolving.<br> 
          Having that in mind, we updated new versions of their signature car mats such as,<br> 
          TRAPO Hex II, TRAPO Classic Mark III and TRAPO Eco II.
        </p>
      </div>
    </div>
    <!-- end experience section-->
  </div>
</div>
<!-- Timeline Ends-->


<!-- Awards -->
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Awards</h1>
  </div>
</div>

<div class="container desktop-only">
  <div class="row mission">
    <div class="col-md-4 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Endeavor_s-Local-Selection-Panel-2021.jpg?v=1643283815" width="300px">
    </div>
    <div class="col-md-4 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LazMall---LazMall-Brand-Of-The-Year-Motors-Category-2021.jpg?v=1643283815" width="300px">
    </div>
    <div class="col-md-4 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Shopee-_2-Mall-Brand-Sales-_Motors_-2020.jpg?v=1643283815" width="300px">      
    </div>
  </div>
</div>

<!-- For Mobile -->
<section class="customer-logos slider mobile-only">
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Endeavor_s-Local-Selection-Panel-2021.jpg?v=1643283815"></div>
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/LazMall---LazMall-Brand-Of-The-Year-Motors-Category-2021.jpg?v=1643283815"></div>
  <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Shopee-_2-Mall-Brand-Sales-_Motors_-2020.jpg?v=1643283815"></div>
</section>

<!-- For Mobile Ends -->

<p class="col-md-12 py-5 text-center awards-txt">At TRAPO, our employee-onwers are driven by a shared mission & vision - to be the leading car accessories provider in Asia; To encourage safety, hygiene and comfortable during experience through innovative & reasonable priced product. We believe that skill represented through the our numerous awards</p>
<!-- Mission Starts-->

<div class="container">
  <div class="row mission">
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/vision.png?v=1643796826" width="100%">
    </div>
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mission.png?v=1643796825" width="100%">
    </div>    
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/future.png?v=1643796825" width="100%">
    </div>
  </div>
</div>

<!-- Mission Ends-->

<!-- Awards Ends-->
<!-- Our Culture --> 
<div class="mb-4">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold head text-center">Our Culture</h1>
    <p class="col-md-12 py-3 text-center culture-txt">TRAPO strives to form a culture that empowers a creative, fun and independent workforce. We are passionate about delivering the best services and products to our consumers. Hence, we believe that creativity and innovation are powerful tools to help them make their dreams a reality. <br><br>
      We LOVE how each new creative hire adds to our culture. And, we’re hiring! <br><br>
      We believe that what makes us unique makes us stronger. We want to build a more diverse, inclusive and innovative organization that is good for our teams, our customers and our community. By empowering each other, we are to bring unique perspectives and experiences to work, we continually seek new ways to do so.
    </p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
  </div>
</div>

<!-- Our Culture Ends-->


<div class="container-fluid">
  <div class="text-center">
    <a href="https://my.trapo.asia/pages/careers"><img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Together.jpg?v=1643800983" width="100%"></a>
  </div>
</div>

<!-- Our Values 
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Our Values</h1>
  </div>
</div>
<!-- Our Values Ends-->
<!-- Countries -->

<div class="mb-4">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold head text-center">Countries</h1>
<!--     <p class="col-md-12 py-3 text-center culture-txt">TRAPO strives to form a culture that empowers a creative, fun and independent workforce. We are passionate about delivering the best services and products to our consumers. Hence, we believe that creativity and innovation are powerful tools to help them make their dreams a reality. <br><br>
      We LOVE how each new creative hire adds to our culture. And, we’re hiring! <br><br>
      We believe that what makes us unique makes us stronger. We want to build a more diverse, inclusive and innovative organization that is good for our teams, our customers and our community. By empowering each other, we are to bring unique perspectives and experiences to work, we continually seek new ways to do so.
    </p> -->
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
  </div>
</div>

<div class="container countries">
  <div class="row">
  	<div class="col-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/malaysia.jpg" width="100%">
    </div>
    <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Singapore.jpg" width="100%">
    </div>
    <div class="col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Indonesia.jpg" width="100%">
    </div>      
  </div>
</div>

<!-- Countries End -->

<!-- Press Kit & CSR Campaign  -->
<div class="container press-kit">
  <div class="row">
  	<div class="col-6">
      <h3>Press Kit</h3>
      <p class="pkit">
        Guidelines to help you use our brand and assets without to negotiate legal arrangements for each use.
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Press-kit.jpg" width="100%">
    </div>
    <div class="col-6">
      <h3>CSR Campaign</h3>
      <p class="pkit">
        Trapo's initiative to build a sustainable future for the next generation starting with car mats.
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/CSR.jpg" width="100%">
    </div>  
  </div>
</div>


<!-- Press Kit & CSR Campaign Ends -->

<!-- Our Happy Moments --> 
<div class="mb">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold head">Our Happy Moments</h1>
    <p class="py-3 moments-txt">Work hard, play hard. We celebrate every milestone and success with everyone <br>after hard work.</p>
  </div>
</div>

<div class="album py-1 bg-light">
  <div class="container" style="padding: 0 2%">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Award-Ceremony-3.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/moments-2.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Christmas-Celebration.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company-Annual-Dinner.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company-Badminton-Section.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Team-Building-Dinner.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Company_Morning_Excersice.webp?v=1642516668">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Award-Ceremony-5.webp?v=1642516668">
        </div>
      </div>               
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/moments-3.webp?v=1642516668">
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
	"name": "CSR Section",
	"settings": [],
	"presets": [
      {
          "name": "CSR Sections",
          "category": "Additional Sections"
      }
	]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}


