<main>
  <div class="container">
    <div class="text-center">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/press-kit-1.jpg" class="img-new" width="100%">
    </div>
  </div>
</main>
<div class="container">
  <p class="col-md-12 para-text" style="padding: 15px;">Hello! We've created some guidelines to help you use our brand and assets, 
    including our logo, content and trademark without having to negotiate legal agreement for each use.
  </p>
</div>
<div class="container" id="trapo-images">      
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Non-White Border</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-non-white-border.jpg" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Non-White_Border_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Non-White_Border_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo White Border</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-white-border.jpg" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_White_Border_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_White_Border_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Monochrome Black</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-monochrome-black.jpg" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_Black_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_Black_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Monochrome White</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-monochrome-white.jpg" width="100%">
        <div class="links"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_White_Logo.png?v=1611557714">PNG</a> | <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Monochrome_White_Logo.svg?v=1611557714">SVG</a></div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="mat-images">      
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Classic Front</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-classic-front.jpg" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_Front.png?v=1611558365">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Classic Side</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-classic-side.jpg" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_Side.png?v=1611558363">PNG</a> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Hex Front</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-hex-front.png" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/01.png?v=1637575535">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Hex Side</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-hex-side.png" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/02.png?v=1637575536">PNG</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Eco Front</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-eco-front.jpg" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_Front.png?v=1611558363">PNG</a></div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <h3 class="text-center">Trapo Eco Side</h3>
      <div class="h-100 para-text">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-eco-side.jpg" width="100%">
        <div class="links text-center"><a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_Side.png?v=1611558361">PNG</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Hex  -->

<div class="container" id="lifestyle-shots">
  <div class="row">
    <h2 class="text-center">Trapo Hex II</h2> 
    <div class="col-md-12 col-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Hex-LS-3.jpg" width="100%">
    </div>    
  </div>
  <div class="row">
    <h3 class="">Trapo Hex Fitted in Proton X70 Interior</h3>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/hex-1.jpg" width="100%">
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-1_05921e64-88d8-41df-b8cf-604cb2a9b313.jpg?v=1637575265">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-2_90a8fd0c-d495-4efc-890b-a7acd7c48ea4.jpg?v=1637575264">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-3_76ae5feb-4d4d-4c8f-b163-af41be68507f.jpg?v=1637575265">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/X70-4_974316d4-a032-44b1-ab4c-44c5c3b6caf7.jpg?v=1637575265">Picture 4</a>
    </div>
  </div>

  <!-- Classic -->

  <div class="row">
    <h2 class="text-center">Trapo Classic Mark III</h2> 
    <div class="col-md-12 col-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Classic-LS-3.jpg" width="100%">
    </div>    
  </div>
  <div class="row">
    <h3 class="">Trapo Classic Fitted in Nissan Almera</h3>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/classic-1.jpg" width="100%">    
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-1.jpg?v=1611538915">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-2.jpg?v=1611538915">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-3.jpg?v=1611538915">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Classic_in_Nissan_Almera-4.jpg?v=1611538915">Picture 4</a>
    </div>
  </div>

  <!-- Eco  -->

  <div class="row">
    <h2 class="text-center">Trapo Eco II</h2> 
    <div class="col-md-12 col-12">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-1.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-2.jpg" width="100%">
    </div>
    <div class="col-md-6 col-6">
      <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Eco-LS-3.jpg" width="100%">
    </div>    
  </div>

  <div class="row">
    <h3 class="">Trapo Eco Fitted in Proton X50</h3>
    <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/eco-1.jpg" width="100%">   
    <div class="links">
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-1.jpg?v=16115389978">Picture 1</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-2.jpg?v=16115389978">Picture 2</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-3.jpg?v=16115389978">Picture 3</a> | 
      <a href="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Eco_in_X50-4.jpg?v=16115389978">Picture 4</a>
    </div>
  </div>
</div>


{% schema %}
{
"name": "Press Kit",
"settings": [],
"presets": [
{
"name": "Press Kit",
"category": "Additional Sections"
}
]
}
{% endschema %}

{% stylesheet %}
.menu{
flex: 1 1 auto !important;
}
h2{
  padding: 20px 0px;
}
#trapo-images, #mat-images, #car-images{
  margin: 30px 0px;
}
.img-new{
  margin-top: 2%;
}
.para-text{
  font-size: 1.5rem !important;
}
.links{
  padding: 15px !important;
}
div.container{
  padding: 0px 5% !important;
}
@media(max-width: 500px){
div.container{
  padding: 0px 10px !important;
}
.img-new{
  margin-top: 15%;
}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
