<section class="head-text">
  <div class="mb" style="margin-bottom: 2rem;">
    <div class="container text-center">
      <h1 class="display-5 fw-bold head">Trapo Car Mats</h1>
      <p class="carmats-txt">Find the <a style="text-decoration: underline;" href="/collections/car-mats">car mat</a> that suits you</p>
      <a href="/pages/which-car-mat-model-suits-you-best" class="shop-now" style="font-size: 1rem"
        >Click here to take the quiz</a
      ><br>
      <br>
      <p class="carmats-txt">Already know what you need?</p>
      <a href="/collections/car-mats" class="shop-now" style="font-size: 1rem">Shop Now</a>
    </div>
  </div>
</section>
<!-- For Mobile -->

<section class="mobile-tabs">
  <ul class="tabs" style="width:100%;border-botton: unset;">
    <li style="width:50%"><a id="anc-txt" class="active" href="#Popular">Popular</a></li>
    <li style="width:50%"><a id="anc-txt" href="#Other">Other</a></li>
  </ul>
  <ul class="tabs-content">
    <li class="active" id="Popular">
      <div class="container">
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-hex.webp" width="150px">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-hex-2.png" width="120px">
            <p class="pricing">FROM RM419.90</p>
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-1.png"
              width="120px"
            >
            <p class="shop"><a href="/collections/trapo-hex" class="shop-now">Shop Now</a></p>
          </div>
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/classic.webp" width="150px">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-classic-mark-3.png"
              width="120px"
            >
            <p class="pricing">FROM RM219.90</p>
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-1.png"
              width="120px"
            >
            <p class="shop"><a href="/collections/trapo-classic" class="shop-now">Shop Now</a></p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-improved-durability.png"
              class="img-features"
            >
            <p class="mobile-p">
              Improved<br>
              Durability
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-improved-durability.png"
              class="img-features"
            >
            <p class="mobile-p">
              Improved<br>
              Durability
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-anti-bacterial.png"
              class="img-features"
            >
            <p class="mobile-p">
              Anti-<br>
              Bacterial
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-anti-bacterial.png"
              class="img-features"
            >
            <p class="mobile-p">
              Anti-<br>
              Bacterial
            </p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-fungus-resistant.png"
              class="img-features"
            >
            <p class="mobile-p">
              Fungus<br>
              Resistant
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-fungus-resistant.png"
              class="img-features"
            >
            <p class="mobile-p">
              Fungus<br>
              Resistant
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-reduces-odour.png"
              class="img-features"
            >
            <p class="mobile-p">
              Reduces<br>
              Odour
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-reduces-odour.png"
              class="img-features"
            >
            <p class="mobile-p">
              Reduces<br>
              Odour
            </p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-easy-to-clean.png"
              class="img-features"
            >
            <p class="mobile-p">
              Easy to<br>
              Clean
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-easy-to-clean.png"
              class="img-features"
            >
            <p class="mobile-p">
              Easy to<br>
              Clean
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-fix-anti-slip.png"
              width="120px"
            >
          </div>
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-velcro-2-0.png" width="120px">
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-20-percent-recycle.png"
              width="70px"
            >
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-68-percent-recycle.png"
              width="70px"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-rpet-lining.png" width="20px">
            <p class="mobile-p">
              RPET<br>
              Lining
            </p>
          </div>
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-rpet-lining.png" width="20px">
            <p class="mobile-p">
              RPET<br>
              Lining
            </p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-warranty.png"
              class="img-features"
            >
            <p class="mobile-p">Warranty</p>
          </div>
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-warranty.png"
              class="img-features"
            >
            <p class="mobile-p">Warranty</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-boot-2.png" width="120px">
          </div>
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-boot-2.png" width="120px">
          </div>
        </div>
      </div>
    </li>
    <li id="Other">
      <div class="container">
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-eco.webp" width="150px">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-eco-2.png" width="120px">
            <p class="pricing">FROM RM189.90</p>
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-4.png"
              width="120px"
            >
            <p class="shop"><a href="/collections/trapo-eco" class="shop-now">Shop Now</a></p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-improved-durability.png"
              class="img-features"
            >
            <p class="mobile-p">
              Improved<br>
              Durability
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
              class="img-size"
            >
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
              class="img-size"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
              class="img-size"
            >
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-easy-to-clean.png"
              class="img-features"
            >
            <p class="mobile-p">
              Easy to<br>
              Clean
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-velcro-1-0.png" width="120px">
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-68-percent-recycle.png"
              width="70px"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-rpet-lining.png" width="20px">
            <p class="mobile-p">
              RPET<br>
              Lining
            </p>
          </div>
        </div>
        <div class="row" style="background-color: rgba(245, 245, 245, 1)">
          <div class="col-6 features-mob text-center">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-1year-warranty.png"
              width="120px"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-6 features-mob text-center">
            <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-boot-2.png" width="120px">
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- For Desktop -->
<section class="desktop-only">
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col"></div>
      <div class="col text-center">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-hex.webp" class="img-size">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-hex-2.png" class="img-size">
        <p class="pricing">FROM RM419.90</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-1.png"
          class="img-size"
        >
        <p class="shop"><a href="/collections/trapo-hex" class="shop-now">Shop Now</a></p>
      </div>
      <div class="col text-center">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/classic.webp" class="img-size">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-classic-mark-3.png"
          class="img-size"
        >
        <p class="pricing">FROM RM219.90</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-1.png"
          class="img-size"
        >
        <p class="shop"><a href="/collections/trapo-classic" class="shop-now">Shop Now</a></p>
      </div>
      <div class="col text-center">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-eco.webp" class="img-size">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-eco-2.png" class="img-size">
        <p class="pricing">FROM RM189.90</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-base-color-4.png"
          class="img-size"
        >
        <p class="shop"><a href="/collections/trapo-eco" class="shop-now">Shop Now</a></p>
      </div>
    </div>
  </div>
  <!-- 1 -->
  <div class="container">
    <div class="row row-cols-4 text-center" style="background-color: rgba(245, 245, 245, 1)">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-improved-durability.png"
          class="img-features"
        >
        <p>
          Improved<br>
          Durability
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-anti-bacterial.png"
          class="img-features"
        >
        <p>
          Anti-<br>
          Bacterial
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
          class="img-size"
        >
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="container">
    <div class="row row-cols-4 text-center" style="background-color: rgba(245, 245, 245, 1)">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-fungus-resistant.png"
          class="img-features"
        >
        <p>
          Fungus<br>
          Resistant
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
          class="img-size"
        >
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-reduces-odour.png"
          class="img-features"
        >
        <p>
          Reduces<br>
          Odour
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-not-available.png"
          class="img-size"
        >
      </div>
    </div>
  </div>
  <!-- 5 -->
  <div class="container">
    <div class="row row-cols-4 text-center" style="background-color: rgba(245, 245, 245, 1)">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-easy-to-clean.png"
          class="img-features"
        >
        <p>
          Easy to<br>
          Clean
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
    </div>
  </div>
  <!-- 6 -->
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-anti-slip.png"
          class="img-features"
        >
        <p>
          Anti<br>
          Slip
        </p>
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-fix-anti-slip.png" width="120px">
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-velcro-2-0.png" width="120px">
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-velcro-1-0.png" width="120px">
      </div>
    </div>
  </div>
  <!-- 7 -->
  <div class="container">
    <div class="row row-cols-4 text-center" style="background-color: rgba(245, 245, 245, 1)">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-recycled-material.png"
          class="img-features"
        >
        <p>
          Recycled<br>
          Material
        </p>
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-20percent.png" width="70px">
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-20percent.png" width="70px">
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-68-percent.png" width="70px">
      </div>
    </div>
  </div>
  <!-- 8 -->
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-rpet-lining.png" width="20px">
        <p>
          RPET<br>
          Lining
        </p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
    </div>
  </div>
  <!-- 9 -->
  <div class="container">
    <div class="row row-cols-4 text-center" style="background-color: rgba(245, 245, 245, 1)">
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-warranty.png"
          class="img-features"
        >
        <p>Warranty</p>
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-5-year-warranty.png"
          width="120px"
        >
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-1year-warranty.png" width="120px">
      </div>
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-1year-warranty.png" width="120px">
      </div>
    </div>
  </div>
  <!-- 10 -->
  <div class="container">
    <div class="row row-cols-4 text-center">
      <div class="col features">
        <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-boot-2.png" width="120px">
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
      <div class="col features">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/shop-car-mat-available.png"
          class="img-features"
        >
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Shop Car Mat",
"settings": [],
"presets": [
{
"name": "Shop Car Mat",
"category": "Additional Sections"
}
]
}
{% endschema %}

<style>
  div.container{
    padding: 0px 0px;
  }
  .head-text{
    margin-top: 2rem;
  }
  .img-size{
    width: 100%;
  }
  .img-features{
    width: 36px;
  }
  .carmats-txt{
    font-size: 18px !important;
  }
  div.features{
    padding: 10px 0px;

  }
  p.pricing{
    text-align: center;
    color: rgba(238, 42, 123, 1);
  }
  a.shop-now{
    margin: 25px 0px 0px 0px !important;
    padding: 10px 20px !important;
    background-color: rgba(238, 42, 123, 1) !important;
    border-radius: 30px !important;
    color: white !important;

  }
  a:hover.shop-now{
    background-color: rgba(23, 63, 109, 1) !important;
  }
  p.shop{
    margin: 10px 0px 40px 0!important;
  }
  div.row{
    margin-bottom: 0px !important;
    justify-content: center;
    align-content: center;
    align-items: center;

  }
  section.desktop-only{
    display: block
  }
  section.mobile-tabs{
    display:none;
  }

  ul.tabs > li > a.active {
    background-color: #163f6c !important;
    color: white !important;
  }
  ul.tabs > li > a#anc-txt{
    background-color: white;
    border-bottom: unset ;
    border: 1px solid #163f6c ;
    height: auto !important;
    border-right-width: unset;
    color: #163f6c;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px 10px !important;
  }
  p.mobile-p{
    margin: 0 0 !important;
  }

  @media (max-width: 768px){
    section.head-text{
      margin-top: 5rem !important;
    }
    section.mobile-tabs{
      display: block;
    }
    section.desktop-only{
      display: none;
    }
    div.features-mob{
      padding: 22.5px 0px;
      border-right: 1px solid #c9c9c9;
    }
  }
</style>

{% javascript %}
{% endjavascript %}
