<section class="trapo-highlights">
  <div class="container-fluid text-center">
    <div class="meg-h3">Over</div>
    <div class="meg-h1">1,000,000</div>
    <div class="meg-h3">Happy Customers</div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="row nested">
          <div class="col-lg-4 col-4">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1year-warranty.png" alt="1 Year Warranty">
          </div>
          <div class="col-lg-8 col-8 txt">
            <div class="meg-h5">1 Year Warranty</div>
            <span>upto 1 year coverage<br>on our products</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="row nested">
          <div class="col-lg-4 col-4">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/free-delivery.png" alt="Free Delivery">
          </div>
          <div class="col-lg-8 col-8 txt">
            <div class="meg-h5">Free Delivery</div>
            <span>within Peninsular Malaysia with<br>no minimum spend</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="row nested">
          <div class="col-lg-4 col-4">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/customer-support.png"
              alt="Customer Support">
          </div>
          <div class="col-lg-8 col-8 txt">
            <div class="meg-h5">Customer Support</div>
            <span>support via Whatsapp, Livechat<br>& Facebook Messenger</span>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="row nested">
          <div class="col-lg-4 col-4">
            <img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/exchange-policy.png" alt="Exchange Policy">
          </div>
          <div class="col-lg-8 col-8 txt">
            <div class="meg-h5">Exchange Policy</div>
            <span>Worry-free and up to 1 year exhange policy</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trapo-highlights-m">
	<img class="lazyload" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/trapo-highlights-1-m.webp" alt="Over 1,000,000 happy customers. 1 Year Warranty. Free Delivery with no minimum limit. Responsive Customer Support. Worry-free Exchange Policy.">
</section>

<style>
  .trapo-highlights .container-fluid, .row, .col-lg-6{
    padding: 0 0;
    margin: 0 0;
  }
  .trapo-highlights {
    background-color: #4798D0;    
    padding: 2rem;
  }

  .trapo-highlights .container-fluid h3 {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    font-family: 'Effra Light' !important;
    line-height: 2;
  }

  .trapo-highlights .container-fluid h1 {
    font-size: 5rem;
    color: #16406D;
    font-weight: 400;
    font-family: 'Effra Light' !important;
    line-height: 0.5;
  }
  .trapo-highlights .container-fluid .row{
    margin: 1rem 0 0;
  }
  .trapo-highlights .container-fluid .nested .col-lg-4{
    text-align: center;
  }
  .trapo-highlights .container-fluid .row .nested{
    align-items: center;
  }
  .trapo-highlights .container-fluid .row .nested img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }
  .trapo-highlights .container-fluid .row .nested .txt {
   text-align: left;
   font-family: 'Effra Light' !important;
   padding: 0 0;
  }
  .trapo-highlights .container-fluid .row .nested h5 {
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    line-height: 0;
    font-size: 1rem;
  }

  .trapo-highlights .container-fluid .row .nested span {
    font-weight: 500;
    color: white;
    font-family: 'Effra Light' !important;
    font-size: 0.9rem;
  }
  .trapo-highlights-m{
    display: none;
  }
  @media only screen and (max-width: 600px){
    .trapo-highlights-m{
    padding: 0 0;
    margin: 0 0;
  }
    .trapo-highlights{
    	display: none;
    }
    .trapo-highlights-m{
    	display: block;
      line-height: 0;
    }
    .trapo-highlights-m img{
    	width: 100%;
    }
      
  }
</style>
{% schema %}
{
"name": "Trapo Highlights",
"settings": [],
"presets": [
{
"name": "Trapo Highlights",
"category": "Additional Sections"
}
]
}
{% endschema %}