/*============================================================================
 Copyright 2017-2021 YMM Shopify App. All rights reserved.
 Capacity Web Solutions Pvt. Ltd.
/*============================================================================*/

/* Container Size */
.page-width { width: 100%; max-width:1200px; margin:0 auto; }

/* Searchbox CSS */
#ymm_searchbox { width:50%; max-width:350px; margin:30px auto; background-color:#ffffff;  }
#ymm_searchbox h2 { color:#000000; font-size:24px; line-height:normal; text-transform:uppercase; padding:0 0 20px 0; margin:0;  letter-spacing:0; font-weight:600; text-align:center;}
#ymm_searchbox ul { list-style:none; margin:0; padding:0; }
#ymm_searchbox .formFields { padding:20px; }

/* Searchbox Form CSS */
#ymm_searchbox form { display:block; margin:0; width:100%; }
#ymm_searchbox label { display:block; color:#000000; font-size:14px; line-height:normal; margin:0 0 5px;; font-weight:600; text-transform:uppercase; }
#ymm_searchbox .field { position:relative; margin-bottom:15px; }
#ymm_searchbox select { color:#000000; margin:0; width:100%; font-size:15px; padding:10px 25px 10px 8px; font-weight:500; min-height:42px; border:1px solid #e8e9eb; border-radius:2px; background-color:#ffffff; height: auto; line-height: normal; cursor:pointer; }
#ymm_searchbox select[disabled] { color:#666666; opacity:0.5; border:1px solid #dddddd; background-color:#f4f4f4; }

#ymm_actions .btn[disabled] { border:1px solid #cccccc; opacity:0.4; cursor: not-allowed; background-color:#dddddd; color:#000000; }
#ymm_actions .btn { padding:11px 28px; letter-spacing:0; font-size:15px; font-weight:600; margin-right:10px; color:#ffffff; border:solid 1px #000000; border-radius:2px; height:auto; width:auto; line-height: normal; cursor: pointer; }
#ymm_actions .ymm_search { background-color: #000000; color: #ffffff; border-color: #000000; }
#ymm_actions .ymm_search:hover { opacity:0.85; }
#ymm_actions #ymm_reset { background-color:#dddddd; color:#3d4246; border-color:#dddddd; margin-right:0; }
#ymm_actions #ymm_reset:hover { color:#ffffff; background-color:#000000; border-color:#000000; }

/* Searchbox Horizontal CSS */
#ymm_searchbox.horizontal { max-width:100%; width:100%; padding: 20px 30px; }
#ymm_searchbox.horizontal .formFields { padding:0; display:inline-block; vertical-align:bottom; width:100%; text-align:center; }
#ymm_searchbox.horizontal .formFields ul { display:flex; flex-wrap:wrap; align-items:flex-end; justify-content:center; margin:-15px -5px 0; }
#ymm_searchbox.horizontal .formFields li { list-style:none; padding:15px 5px 0; display:inline-block; text-align:left; font-size:16px; -webkit-flex:1; flex:1; }
#ymm_searchbox.horizontal .formFields li.ymm_bttns { -webkit-flex:none; flex:none; } 

#ymm_searchbox ul.dropdowns li:not(.ymm_bttns) { width:20%; }
#ymm_searchbox ul.dropdowns li:nth-child(n+5) + li.ymm_bttns { clear:both; text-align: center; width:100%; }

/* Searchbox Loading */
#ymm_searchbox .ymm_loading { position:relative; width:28px; height:28px; margin:0 auto; text-align:center; }
#ymm_searchbox .ymm_loading img { max-width:100%; border:none; outline:none; display:inline; padding:4px; box-shadow:0 0 5px #dddddd; margin:0 auto; background-color:#ffffff; width:28px; height:28px; text-align:center; vertical-align:middle; }

/* Searchbox Vertical CSS */
#ymm_searchbox.vertical { padding:25px;}
#ymm_searchbox.vertical .formFields { padding:0;}
#ymm_searchbox.vertical ul.dropdowns li { width:100%;}
#ymm_searchbox.vertical ul.dropdowns li:not(.ymm_bttns) { width:100%;}

/* Fitment Loading */
.ymm-fitment-loading { position:relative; margin:20px auto; text-align:center; }
.ymm-fitment-loading img { max-width:100%; border:none; outline:none; display:inline; padding:4px; box-shadow:0 0 5px #dddddd; margin:0 auto; background-color:#ffffff; width:45px; height:45px; text-align:center; vertical-align:middle; object-fit:none; }
.ymm_fitment_block { background-color: #ffffff; padding: 10px 15px; margin: 10px auto; line-height: 1.5; }
.ymm_fitment_block .ymm_fitment_inner { width: 100%; }

.ymm_fitment_block .item_fits_cont { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; }
.ymm_fitment_block .item_fits_cont .fit_title p { padding:0; margin: 0; display: flex; align-items: center; justify-content: center; font-size: 14px; font-weight: 700; }
.ymm_fitment_block .item_fits_cont .ymm_text { font-size: 15px; font-weight: 700; margin: 0 0 0 10px; }
.ymm_fitment_block .fit_desc { font-size: 15px; font-weight: 400; margin: 0 0 0 15px; }
.ymm_fitment_block .reset_fitment_data { margin-left: auto; }
#reset_ymm_fitment { display: inline-flex; background-color: #4f4f4f; color: #ffffff; border: none; outline: 0; text-transform: uppercase; padding: 7px 12px; font-size: 12px; font-weight: 700; align-items: center; letter-spacing: 0.5px; font-family: inherit; cursor:pointer; }
#reset_ymm_fitment:hover { background-color: #242424; color: #ffffff; }

.ymm_fitment_block .item_unfits_cont { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; }
.ymm_fitment_block .item_unfits_cont .unfit_desc { display: flex; align-items: center; }
.ymm_fitment_block .item_unfits_cont .ymm_text { font-size: 15px; font-weight: 400; margin: 0 0 0 15px; }
.ymm_fitment_block .item_unfits_cont .unfit-icon { display: flex; flex-wrap: wrap; align-items: center; }
.ymm_fitment_block .item_unfits_cont .unfit_title { font-size: 14px; font-weight: 700; margin: 0 0 0 10px; }
#view_fitments { display: inline-flex; background-color: #000000; color: #ffffff; border: none; outline: 0; text-transform: uppercase; padding: 7px 12px; margin-right:10px; font-size: 12px; font-weight: 700; align-items: center; letter-spacing: 0.5px; font-family: inherit; cursor:pointer; }
#view_fitments:hover { background-color: #444444; color: #ffffff; }



/*------------ Media Querys ------------*/
@media only screen and (max-width:1199px){
  
}

@media only screen and (max-width:999px){
  #ymm_searchbox.horizontal { padding:15px; }
  #ymm_searchbox .button-action { display:block; }
  #ymm_searchbox.horizontal ul.dropdowns li:not(.ymm_bttns) { width:25%; }
  
  .ymm_fitment_block .item_unfits_cont { justify-content: center; flex-direction: column; }
  .ymm_fitment_block .item_unfits_cont .unfit_desc { justify-content: space-around; width: 100%; margin: 0 0 8px; }
  .ymm_fitment_block .item_unfits_cont .ymm_text { margin: 0 0 0 auto; }
  
}

@media only screen and (max-width:767px){
  #ymm_searchbox { width:100%; }
  #ymm_searchbox h2 { font-size:20px; padding:0 0 15px 0; }
  #ymm_searchbox .formFields { padding:10px; }
  #ymm_searchbox .field { position:relative; margin-bottom:10px; } 
  #ymm_searchbox.horizontal .formFields li,
  #ymm_searchbox.horizontal ul.dropdowns li:not(.ymm_bttns) { width:100%; -webkit-flex:none; flex:none; } 
  
  .ymm_fitment_block .reset_fitment_data { clear: both; width: 100%; text-align: center; margin: 8px auto 0; }
  
}

@media only screen and (max-width:480px){
  	#ymm_searchbox.horizontal {  }
  	#ymm_searchbox.vertical { padding:15px; }
  
  	.ymm_fitment_block .item_fits_cont { justify-content: center; flex-direction: column; }
  	.ymm_fitment_block .fit_desc { font-size: 14px; margin: 5px auto 0; }
  
    .ymm_fitment_block .item_unfits_cont .unfit_desc { justify-content: center; flex-direction: column; }
  	.ymm_fitment_block .item_unfits_cont .ymm_text { margin: 5px 0 0; }
  	.ymm_fitment_block .item_unfits_cont .fitment_buttons { display: flex; flex-direction: column; justify-content: center; align-items: center; }
  	#view_fitments { margin: 0 0 5px; }
  
}